<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  </head>
  <body>

  <div class="jumbotron" style = "text-align: center">
    <header class= 'title'>
      <h1>To Do List!</h1>
    </header>

    <section class = "todo">
      <form class="" action="/" method="post">
        <input type="text" name="todos" value="" placeholder="Add a todo...">
        <button type="submit" class='btn btn btn-primary'>Add todo!</button>
      </form>
    </section>


    <section class ="list">
      <form class="" action="/completed" method="post">
        {{#incomplete}}
        <span>{{task}}</span><button type="submit" name="completed" value="{{id}}">Mark Complete!</button>
        <br>
        {{/incomplete}}
      </form>
    </section>



      <section class="completed">
        <h2>Completed Tasks</h2>
        <form class="" action="/delete" method="post">
          {{#complete}}
          <button id='completed-task' type="submit" name="id"
            class='btn btn btn-primary' value="{{id}}">Delete Task</button><span> {{task}}</span><br>
          {{/complete}}
        </form>
      </section>


  </div>



  </body>
</html>
